<h3>Add Author</h3>

<form class="form-inline mb-4">
  <form [formGroup]="authorForm" (submit)="createAuthor()" class="form-inline mb-4">
    <label class="sr-only" for="Name">ID</label>
    <div class="input-group mb-2 mr-sm-2">
      <input type="text" class="form-control" formControlName="id" placeholder="id">
    </div>

    <label class="sr-only" for="Phone">Age</label>
    <div class="input-group mb-2 mr-sm-2">
      <input type="text" class="form-control" formControlName="age" placeholder="age">
    </div>

    <label class="sr-only" for="Address">Name</label>
    <div class="input-group mb-2 mr-sm-2">
      <input type="text" class="form-control" formControlName="name" placeholder="name">
    </div>

    <button type="submit" class="btn btn-primary mb-2">Add Author</button>
  </form>