<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="''" [routerLinkActive] = "['active']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'author'" [routerLinkActive] = "['active']">Author</a>
      </li>
    </ul>
  </div>
</nav>