<div class="row h1 mt-2 ml-2 mr-2">
  <div class="col-lg-11">
    Authors List
  </div>
  <div class="col-lg-1 float-right">
    <button class="btn btn-success">New author</button>
  </div>
</div>
<div class="row ml-2 mr-2">
  <div class="col-lg-12">
  <ag-grid-angular style="width: 500px; height: 500px;" 
  class="ag-theme-balham" 
  [rowData]="rowData"
  [columnDefs]="columnDefs"></ag-grid-angular>
</div>
