<div class="row ml-2 mr-2">
  <div class="col-lg-12">
    <ag-grid-angular style="width: 60%; height: 300px;" 
      class="ag-theme-balham" 
      [rowData]="authors$ | async"
      [columnDefs]="columnDefs"
      [enableSorting]="true"
      [multiSortKey]="multiSortKey"
      [animateRows]="true"
      [pagination]="true"
      [paginationPageSize]="10"
      [enableFilter]="true"
      [floatingFilter]="true"></ag-grid-angular>
  </div>
</div>